## Dummy Rating Notebook
This notebook is created to make random dummy rating from 300 users. The goal is to make 15000 rating for 515 tourist attractions.

In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
rating_data = pd.DataFrame()

for i in range (0, 15000):
    user = random.randint(1, 300)
    #placeindex = user_id.index(make)
    place = random.randint(1, 515)
    rating = random.randint(1, 5)
    
    linedict = {'User': [user], 'Place': [place], 'Rating':[rating]}
    line = pd.DataFrame(linedict)
    rating_data = pd.concat([rating_data, line])

In [ ]:
rating_data.to_csv('rating.csv',index = False)

In [ ]:
rating_data

    User  Place  Rating
0    123    349       5
0    259    196       1
0    177     17       3
0    112      8       2
0    258    244       2
..   ...    ...     ...
0    105    423       4
0     40     67       2
0     92    155       4
0     73    167       3
0    144    281       2

[15000 rows x 3 columns]